body{
    background-color: black;
}
.total{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    row-gap: 10px;
    column-gap: 5px;
    margin-left: 10px;
    margin-top: 15px;
}
button{
    width: 100%;
    height: 60px;
    border-radius: 60px;
    border: none;
    font-size: 26px;
    cursor: pointer;
    color: white;
}
.number{
    background-color: rgb(51,51,51);
}
.oper{
    background-color: rgb(254,160,10);
}
.clear{
    font-size: 20px;
    grid-column: span 4;
}
button:active{
    opacity: 0.7;
}
.result{
    margin-top: 20px;
    margin-left: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
}