body{
    font-family: Arial;
}
.subscribe{
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 30px;
}
/* .subscribe:active{
    background-color: rgb(240,240,240);
    color: black;
} */
.is-subscribed{
    background-color: rgb(240,240,240);
    color: black;
}
.cost{
    padding: 10px;
    font-size: 15px;
}
.calculate{
    background-color: green;
    color: white;
    border: none;
    padding: 12px 15px;
    font-size: 15px;
    cursor: pointer;
}
.error{
    color: red;
}